.row {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: 1px dashed #aaa;
    margin-bottom: 1rem;
    min-height: 180px;
    background-color: #f9f9f9;
  
    &--left {
      justify-content: flex-start;
    }
  
    &--center {
      justify-content: center;
    }
  
    &--right {
      justify-content: flex-end;
    }
}